# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\jr\bishe3\SpringBootMovie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
